body{
  background-color: #0c0c0c;
  color: white;
}
.start-btn {
  background: #0c0c0c;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 180px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

.start-btn span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: skew(21deg);
}

.start-btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.start-btn:hover {
  color: #0c0c0c;
}

.start-btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
